.dark-theme {
  color: #fff;
  background-color: #2C2C2C;
}

.dark-theme button, .dark-theme li, .dark-theme a, .dark-theme input, .dark-theme textarea {
  color: #fff;
  background-color: #2C2C2C;
}

.header {
  width: 100%;
  height: auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header__button {
  position: absolute;
  outline: none;
  background: transparent;
  border: solid 1px;
  top: 40px;
  right: 25px;
}

.header__button-img {
  width: 40px;
  height: 40px;
}

.header__logo {
  width: 250px;
  margin-bottom: 20px;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo-title {
  font-size: 40px;
}

.header__logo-img {
  width: 50px;
  height: 50px;
}

.header__info {
  font-size: 16px;
  color: #979797;
  text-align: center;
}

.header .nav {
  width: 300px;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.header .nav__element {
  list-style: none;
}

.header .nav__element-button {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: solid #979797 1px;
  font-size: 18px;
  padding: 5px;
}

.header .nav__element-button:hover {
  background-color: #979797;
  transition: ease-in .3s;
}

@media (min-width: 1100px) {
  .header__info {
    font-size: 20px;
  }
  .header .nav {
    margin-top: 2%;
    width: 400px;
  }
  .header .nav__element-button {
    font-size: 22px;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.home__article {
  width: 100%;
  padding: 15% 0 15% 0;
  background: url(../resources/home.jpg);
  background-size: cover;
  background-position: center;
}

.home__article-h2 {
  font-size: 16px;
  color: #fff;
  margin: 0 5% 3% 5%;
  border-bottom: solid #979797 1px;
  padding-bottom: 2%;
  text-align: center;
}

.home__article-text {
  font-size: 16px;
  text-align: center;
  margin: 0 5% 0 5%;
  color: #fff;
}

.home .contact {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 15% 5% 3% 5%;
  padding: 5%;
}

.home .contact__h3 {
  font-size: 16px;
  margin-bottom: 5%;
  text-align: center;
  border-bottom: solid #979797 1px;
  padding-bottom: 2%;
}

.home .contact__content {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5%;
}

.home .contact .link {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .contact .link-item {
  margin-bottom: 3%;
  border-bottom: solid #979797 1px;
}

.home .contact .link-item--a {
  text-decoration: none;
}

.home .contact .link-item--button {
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
}

@media (min-width: 700px) and (max-width: 1100px) {
  .home {
    margin-top: 10%;
  }
  .home .contact {
    margin: 5% 5% 3% 5%;
  }
  .home .contact__h3 {
    margin-bottom: 1%;
  }
  .home .contact .link {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". first second ." ". third fourth .";
    column-gap: 1%;
    row-gap: 50%;
  }
  .home .contact .link-item:nth-child(1) {
    grid-area: first;
  }
  .home .contact .link-item:nth-child(2) {
    grid-area: second;
  }
  .home .contact .link-item:nth-child(3) {
    grid-area: third;
  }
  .home .contact .link-item:nth-child(4) {
    grid-area: fourth;
  }
  .home .contact .link-item {
    width: 50%;
    text-align: center;
    justify-self: center;
  }
}

@media (min-width: 1100px) {
  .home {
    margin-top: 5%;
  }
  .home__article {
    padding: 10% 0 10% 0;
  }
  .home__article-h2 {
    font-size: 25px;
  }
  .home__article-text {
    font-size: 20px;
  }
  .home .contact {
    margin: 5% 5% 3% 5%;
  }
  .home .contact__h3 {
    font-size: 25px;
    margin-bottom: 2%;
  }
  .home .contact__content {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;
  }
  .home .contact .link {
    display: grid;
    grid-template-columns: 35% 15% 15% 35%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". first second ." ". third fourth .";
    row-gap: 50%;
  }
  .home .contact .link-item:nth-child(1) {
    grid-area: first;
  }
  .home .contact .link-item:nth-child(2) {
    grid-area: second;
  }
  .home .contact .link-item:nth-child(3) {
    grid-area: third;
  }
  .home .contact .link-item:nth-child(4) {
    grid-area: fourth;
  }
  .home .contact .link-item {
    width: 50%;
    text-align: center;
    justify-self: center;
    font-size: 18px;
  }
}

.footer {
  padding: 5% 0 5% 0;
  text-align: center;
  font-size: 15px;
  color: #979797;
  justify-self: flex-end;
}

@media (min-width: 1100px) {
  .footer {
    margin: 2% 0 2% 0;
  }
}

.list {
  width: 100%;
  height: auto;
  margin-top: 10%;
  display: none;
  flex-direction: column;
  align-items: center;
}

.list__title, .list .h2 {
  width: 90%;
  font-size: 25px;
  border-bottom: solid #979797 1px;
}

.list__note {
  height: 30px;
  width: 90%;
  margin-top: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list__note-button {
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #979797;
  outline: none;
  background-color: transparent;
}

.list__note-input {
  height: 25px;
  width: 97%;
  margin-left: 10px;
  border: solid #979797 1px;
  outline: none;
}

.list .catalogue {
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list .catalogue__element {
  width: 90%;
  height: 30px;
  margin-top: 3%;
  padding-bottom: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid #979797 1px;
}

.list .catalogue__element-content {
  height: 25px;
  width: 97%;
  padding-left: 3.9%;
  font-size: 16px;
}

.list .catalogue__element-delete {
  width: 25px;
  height: 25px;
  outline: none;
  background-color: transparent;
  border: solid #979797 1px;
  align-self: flex-end;
}

.list .catalogue__element-delete:hover {
  background-color: #ff4343;
  color: white;
  transition: ease-in .2s;
}

.list .catalogue__element-done {
  width: 25px;
  height: 25px;
  outline: none;
  background-color: transparent;
  border: solid #979797 1px;
  align-self: flex-end;
  margin-right: 3%;
}

.list .catalogue__element-done:hover {
  background-color: #047e00;
  color: white;
  transition: ease-in .2s;
}

@media (min-width: 1100px) {
  .list {
    margin-top: 5%;
  }
  .list__title, .list .h2 {
    width: 60%;
    font-size: 25px;
    border-bottom: solid #979797 1px;
  }
  .list__note {
    height: 45px;
    width: 60%;
    margin-top: 1%;
  }
  .list__note-button {
    width: 35px;
    height: 35px;
  }
  .list__note-input {
    height: 35px;
    width: 97%;
    margin-left: 10px;
    border: solid #979797 1px;
    outline: none;
    padding-left: 1%;
  }
  .list .catalogue {
    width: 100%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list .catalogue__element {
    width: 60%;
    height: 45px;
    margin-bottom: 2%;
  }
  .list .catalogue__element-content {
    height: 35px;
    font-size: 20px;
  }
  .list .catalogue__element-delete {
    width: 35px;
    height: 35px;
  }
  .list .catalogue__element-delete:hover {
    background-color: #ff4343;
    color: white;
    transition: ease-in .2s;
  }
  .list .catalogue__element-done {
    width: 35px;
    height: 35px;
  }
}

.note {
  display: none;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  padding-bottom: 5%;
}

.note__content {
  margin-top: 5%;
}

.note__content-button {
  width: 300px;
  height: 300px;
  background-color: transparent;
  font-size: 100px;
  border: solid #979797 1px;
  outline: none;
}

.note__content-button:active {
  transition: ease-in .1s;
  background-color: #979797;
}

.note__content .element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 5%;
  border: solid #979797 1px;
}

.note__content .element__header, .note__content .element__content {
  border: solid #979797 1px;
}

.note__content .element__header {
  width: 80%;
  height: 10%;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5%;
  outline: none;
  padding: 5px;
  border: none;
}

.note__content .element__content {
  resize: none;
  width: 80%;
  height: 60%;
  font-size: 16px;
  padding: 5px;
  outline: none;
}

.note__content .element__btn {
  margin-top: 5%;
  width: 10%;
  height: 10%;
  border: solid #979797 1px;
  background-color: transparent;
}

@media (min-width: 1100px) {
  .note {
    margin-top: 2%;
  }
  .note__content {
    width: 80%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .note__content-button, .note__content .element {
    margin-bottom: 2%;
    margin-right: 2%;
  }
}

.pomodoro {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.pomodoro__info {
  margin-top: 2%;
  text-align: center;
}

.formPo {
  width: 80%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.formPo-input {
  width: 24%;
  outline: none;
  padding: 2%;
  font-size: 15px;
  text-align: center;
  border: solid #979797 1px;
}

.formPo-button {
  width: 25%;
  outline: none;
  background-color: transparent;
  border: solid #979797 1px;
}

.formPo-button:hover {
  background-color: #ff4343;
  color: white;
  transition: ease-in .2s;
}

.timer {
  margin-top: 22%;
  display: none;
  flex-direction: column;
}

.timer__display {
  font-size: 50px;
}

.timer__button {
  background-color: transparent;
  outline: none;
  border: solid #979797 1px;
  padding: 2% 0 2% 0;
}

@media (min-width: 650px) and (max-width: 1100px) {
  .timer {
    margin-top: 10%;
  }
}

@media (min-width: 1100px) {
  .timer {
    margin-top: 5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
}

.coin {
  position: absolute;
  top: 2%;
  left: 5%;
  display: flex;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */