*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;

.main{ 
    width: 100%;
    height: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__logo{
        width: 250px;
        margin-bottom: 2%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-title{
            font-size: 40px;
        }

        &-img{
            width: 50px;
            height: 50px;
        }
    }

    &__info{
        font-size: 13px;
        color: #9b9b9b;
        text-align: center;
    }
}

.list{
    width: 100%;
    height: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        width: 90%;
        font-size: 25px;
        border-bottom: solid #c2c2c2 1px;
    }

    &__note{
        height: 30px;
        width: 90%;
        margin-top: 1%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &-button{
            width: 25px;
            height: 25px;
            border-style: solid;
            border-width: 1px;
            border-color:  #c2c2c2;
            outline: none;
            background-color: transparent;
        }

        &-input{
            height: 25px;
            width: 97%;
            margin-left: 10px;
            border: solid#c2c2c2 1px;
            outline: none;
        }
    }

    .catalogue{
        width: 100%;
        height: auto;
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__element{
            width: 90%;
            height: 30px;
            margin-top: 3%;
            padding-bottom: 1%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: solid #c2c2c2 1px;

            &-content{
                height: 25px;
                width: 97%;
                padding-left: 3.9%;
                font-size: 15px;
            }

            &-delete{
                width: 25px;
                height: 25px;
                outline: none;
                background-color: transparent;
                border: solid#c2c2c2 1px;
                align-self: flex-end;

                &:hover{
                    background-color: rgb(255, 67, 67);
                    color: white;
                    transition: ease-in .2s;
                }
            }
        }
    }
}
}