.dark-theme {
  color: #fff;
  background-color: #2C2C2C;
}

.dark-theme button, .dark-theme li, .dark-theme a, .dark-theme input, .dark-theme textarea {
  color: #fff;
  background-color: #2C2C2C;
}

.header {
  width: 100%;
  height: auto;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  position: absolute;
  outline: none;
  background: transparent;
  border: solid 1px;
  top: 40px;
  right: 25px;
}

.header__button-img {
  width: 40px;
  height: 40px;
}

.header__logo {
  width: 250px;
  margin-bottom: 20px;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-title {
  font-size: 40px;
}

.header__logo-img {
  width: 50px;
  height: 50px;
}

.header__info {
  font-size: 16px;
  color: #979797;
  text-align: center;
}

.header__nav {
  width: 300px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-element {
  list-style: none;
}

.header__nav-element--button {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: solid #979797 1px;
  font-size: 18px;
  padding: 5px;
}

.header__nav-element--button:hover {
  background-color: #979797;
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
}

@media (min-width: 1100px) {
  .header__info {
    font-size: 20px;
  }
  .header__nav {
    margin-top: 2%;
    width: 300px;
  }
  .header__nav-element--button {
    font-size: 22px;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15%;
}

.home__article {
  width: 100%;
  padding: 15% 0 15% 0;
  background: url(../resources/home.jpg);
  background-size: cover;
  background-position: center;
}

.home__article-h2 {
  font-size: 16px;
  color: #fff;
  margin: 0 5% 3% 5%;
  border-bottom: solid #979797 1px;
  padding-bottom: 2%;
  text-align: center;
}

.home__article-text {
  font-size: 16px;
  text-align: center;
  margin: 0 5% 0 5%;
  color: #fff;
}

.home .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15% 5% 3% 5%;
  padding: 5%;
}

.home .contact__h3 {
  font-size: 16px;
  margin-bottom: 5%;
  text-align: center;
  border-bottom: solid #979797 1px;
  padding-bottom: 2%;
}

.home .contact__content {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5%;
}

.home .contact__link {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .contact__link-item {
  margin-bottom: 3%;
  border-bottom: solid #979797 1px;
}

.home .contact__link-item--a {
  text-decoration: none;
}

.home .contact__link-item--button {
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
}

@media (min-width: 700px) and (max-width: 1100px) {
  .home {
    margin-top: 10%;
  }
  .home .contact {
    margin: 5% 5% 3% 5%;
  }
  .home .contact__h3 {
    margin-bottom: 1%;
  }
  .home .contact__link {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 20% 20% 30%;
        grid-template-columns: 30% 20% 20% 30%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". first second ." ". third fourth .";
    -webkit-column-gap: 1%;
            column-gap: 1%;
    row-gap: 50%;
  }
  .home .contact__link-item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: first;
  }
  .home .contact__link-item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: second;
  }
  .home .contact__link-item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: third;
  }
  .home .contact__link-item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: fourth;
  }
  .home .contact__link-item {
    width: 50%;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (min-width: 1100px) {
  .home {
    margin-top: 5%;
  }
  .home__article {
    padding: 10% 0 10% 0;
  }
  .home__article-h2 {
    font-size: 25px;
  }
  .home__article-text {
    font-size: 20px;
  }
  .home .contact {
    margin: 5% 5% 3% 5%;
  }
  .home .contact__h3 {
    font-size: 25px;
    margin-bottom: 2%;
  }
  .home .contact__content {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;
  }
  .home .contact__link {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 15% 15% 35%;
        grid-template-columns: 35% 15% 15% 35%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". first second ." ". third fourth .";
    row-gap: 50%;
  }
  .home .contact__link-item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: first;
  }
  .home .contact__link-item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: second;
  }
  .home .contact__link-item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: third;
  }
  .home .contact__link-item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: fourth;
  }
  .home .contact__link-item {
    width: 50%;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 18px;
  }
}

.footer {
  padding: 5% 0 5% 0;
  text-align: center;
  font-size: 15px;
  color: #979797;
  justify-self: flex-end;
}

@media (min-width: 1100px) {
  .footer {
    margin: 2% 0 2% 0;
  }
}

.list {
  width: 100%;
  height: auto;
  margin-top: 10%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__title, .list .h2 {
  width: 90%;
  font-size: 25px;
  border-bottom: solid #979797 1px;
}

.list__note {
  height: 30px;
  width: 90%;
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__note-button {
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #979797;
  outline: none;
  background-color: transparent;
}

.list__note-input {
  height: 25px;
  width: 97%;
  margin-left: 10px;
  border: solid #979797 1px;
  outline: none;
}

.list .catalogue {
  width: 100%;
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .catalogue__element {
  width: 90%;
  height: 30px;
  margin-top: 3%;
  padding-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid #979797 1px;
}

.list .catalogue__element-content {
  height: 25px;
  width: 97%;
  padding-left: 3.9%;
  font-size: 16px;
}

.list .catalogue__element-delete {
  width: 25px;
  height: 25px;
  outline: none;
  background-color: transparent;
  border: solid #979797 1px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.list .catalogue__element-delete:hover {
  background-color: #ff4343;
  color: white;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

.list .catalogue__element-done {
  width: 25px;
  height: 25px;
  outline: none;
  background-color: transparent;
  border: solid #979797 1px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 3%;
}

.list .catalogue__element-done:hover {
  background-color: #047e00;
  color: white;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

@media (min-width: 1100px) {
  .list {
    margin-top: 5%;
  }
  .list__title, .list .h2 {
    width: 60%;
    font-size: 25px;
    border-bottom: solid #979797 1px;
  }
  .list__note {
    height: 45px;
    width: 60%;
    margin-top: 1%;
  }
  .list__note-button {
    width: 35px;
    height: 35px;
  }
  .list__note-input {
    height: 35px;
    width: 97%;
    margin-left: 10px;
    border: solid #979797 1px;
    outline: none;
    padding-left: 1%;
  }
  .list .catalogue {
    width: 100%;
    margin-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list .catalogue__element {
    width: 60%;
    height: 45px;
    margin-bottom: 2%;
  }
  .list .catalogue__element-content {
    height: 35px;
    font-size: 20px;
  }
  .list .catalogue__element-delete {
    width: 35px;
    height: 35px;
  }
  .list .catalogue__element-delete:hover {
    background-color: #ff4343;
    color: white;
    -webkit-transition: ease-in .2s;
    transition: ease-in .2s;
  }
  .list .catalogue__element-done {
    width: 35px;
    height: 35px;
  }
}

.note {
  display: none;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  padding-bottom: 5%;
}

.note__content {
  margin-top: 5%;
}

.note__content-button {
  width: 300px;
  height: 300px;
  background-color: transparent;
  font-size: 100px;
  border: solid #979797 1px;
  outline: none;
}

.note__content-button:active {
  -webkit-transition: ease-in .1s;
  transition: ease-in .1s;
  background-color: #979797;
}

.note__content .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 5%;
  border: solid #979797 1px;
}

.note__content .element__header, .note__content .element__content {
  border: solid #979797 1px;
}

.note__content .element__header {
  width: 80%;
  height: 10%;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5%;
  outline: none;
  padding: 5px;
  border: none;
}

.note__content .element__content {
  resize: none;
  width: 80%;
  height: 60%;
  font-size: 16px;
  padding: 5px;
  outline: none;
}

.note__content .element__btn {
  margin-top: 5%;
  width: 10%;
  height: 10%;
  border: solid #979797 1px;
  background-color: transparent;
}

@media (min-width: 1100px) {
  .note {
    margin-top: 2%;
  }
  .note__content {
    width: 80%;
    margin-top: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .note__content-button, .note__content .element {
    margin-bottom: 2%;
    margin-right: 2%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
}
/*# sourceMappingURL=main.css.map */