@import './variables/colors';
@import './variables/font';

.dark-theme{
    color: $dark_font;
    background-color: $dark_bgc;

    button, li, a, input, textarea{
        color: $dark_font;
        background-color: $dark_bgc;
    }

}

@import './components/header';
@import './components/main';
@import './components/footer';
@import './components/toDo';
@import './components/note';
@import './components/pomodoro';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}
    