@import './variables/colors';
@import './variables/font';
@import './components/header';
@import './components/main';
@import './components/footer';
@import './components/toDo';
@import './components/note';

.dark-theme{
    color: $dark_font;
    background-color: $dark_bgc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}
    