$h2-mobile: 16px;
$title-mobile: 40px;
$nav-mobile: 18px;
$h3-mobile: 25px;
$headerNote-mobile: 18px;
$content-mobile: 16px;
$footer-text: 15px;

$h2-pc: 20px;
$nav-pc: 22px;
$articleTitle-pc: 25px;
$h3-pc: 25px;
$content-pc: 18px;
