.header{ 
    width: 100%;
    height: auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
        
        &__button{
            position: absolute;
            outline: none;
            background: transparent;
            border: solid 1px;
            top: 40px;
            right: 25px;

            &-img{
                width: 40px;
                height: 40px;
            }
        }

    &__logo{
        width: 250px;
        margin-bottom: 20px;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-title{
            font-size: $title-mobile ;
        }

        &-img{
            width: 50px;
            height: 50px;
        }
    }

    &__info{
        font-size: $h2-mobile;
        color: $light_border;
        text-align: center;
    }

    .nav{
        width: 300px;
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        
        &__element{
            list-style: none;

            &-button{
                display: block;
                outline: none;
                border: none;
                background-color: transparent;
                border-bottom: solid $light_border 1px;
                font-size: $nav-mobile;
                padding: 5px;
                

                &:hover{
                    background-color: $light_border;
                    transition: ease-in .3s;
                }
            }
        }
    }
}

@media (min-width: 1100px){
    .header{

        &__info{
            font-size: $h2-pc;
        }

        .nav{
            margin-top: 2%;
            width: 400px;

            &__element{

                &-button{
                    font-size: $nav-pc;
                }
            }
        }
    }
}